.app-header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: #fdfdfd;
  border-radius: 20px 20px 0 0;
  padding: 0 45px 0 25px;
}

.app-header h1 {
  /* width: 150px;
  height: 150px; */
  font-size: 26px;
  font-weight: bold;
}

.app-header h2 {
  font-size: 1.2rem;
}

.app-header ul {
  display: flex;
}

.app-header li {
  list-style: none;
  display: inline;
  margin-left: 30px;
  margin-right: 30px;
  padding: 3px;
}

.list {
  display: flex;
  align-items: center;
}

.app-header-ul li {
  display: flex;
  align-items: center;
}

.icons {
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

.names {
  font-size: 18px;
}